<!DOCTYPE html>

<head>
    <meta charset="UTF-8">
    <title>Cadastro de Produto</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body>
    
<div class="container">
        <div class="panel panel-primary">
            <div class="panel-heading" style="text-align: center">Formulário de Produtos</div>
        </div>
        <form enctype="multipart/form-data"  method="post" action="index.php?class=ProductForm&method=save">
        <div class="form-group">
            <label>Id</label>
            <input name="id" class="form-control" readonly="1" type="text"style="width: 30%" value="{id}">
            <br>
        </div>  

        <div class="form-group">
            <label>Descrição</label>
            <input name="description" class="form-control" type="text" style="width: 50%"
             value="{description}" required>
            <br>
        </div>
            
        <div class="form-group">
            <label>Valor</label>
            <input name="value" class="form-control" type="text" style="width: 50%"
             value="{value}" required>
            <br>
        </div>

        <div class="form-group">
            <label>Tipo do Produto</label>
            <select class="form-control" size="1" id="type_product_id" name="type_product_id">
                {combo_type_products}             
            </select>
            <br>
        </div>            
    
        <input type="submit" class="btn btn-success" value="Enviar">
        <a href="index.php?class=ProductList" class="btn btn-info"> Lista de Produtos </a>
       
    </form>
    
</div>

   
  
    
</body>
</html>