<!DOCTYPE html>

<head style="text-align:center">
    <meta charset="UTF-8">
    <title>Bem Vindo</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body style="text-align:center">
    <div class="panel panel-primary">
        <div class="panel-heading" style="text-align: center">Bem Vindo ao SupermarketSoft</div>
    </div>
    <br>
    <button type="button" onclick="window.location='./index.php?class=ProductFormList'" class="btn btn-primary btn-lg btn-block">
        <H4>Lista de Produtos</H4>
    </button>
    <br>
    <button type="button" onclick="window.location='./index.php?class=TypeProductFormList'" class="btn btn-primary btn-lg btn-block">
        <H4>Lista de Tipos de produto</H4>
    </button>
    <br>
    <button type="button" onclick="window.location='./index.php?class=OrderSaleForm'" class="btn btn-success btn-lg btn-block">
        <H4>Criar Pedido</H4>
    </button>
    <br>
    <button type="button" onclick="window.location='./index.php?class=OrderSaleList'" class="btn btn-primary btn-lg btn-block">
        <H4>Lista de Pedido</H4>
    </button>

</body>
</html>